.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fefefe;
  border-radius: 10px;
  font-family: "HyundaiSansTextKR", "Magul Gothic";
  box-shadow: 10px 10px 49px -13px rgba(0, 0, 0, 0.33);
}

.header {
  height: 100px;
  padding: 20px 0;
  font-size: 40px;
  text-align: center;
}

.main {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 20px;
}
